*{
  margin: 0;
  padding: 0;
}


.nav-bg{
  opacity: 88%;
  background-color: black;
}
.hamburger{
  background-color: rgba(255, 255, 255, 0.9);
}
h1,h2{
  color: #3e64ff;
}
.text-start{
  text-align: start;
}
.text-center{
  text-align: center;
}

.cv-container{
  
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.left-section{
  padding-top:50px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
}
.linkedin-btn{
  color: black;
}

.skills-section{
width: 50%;
display: flex;
flex-wrap: wrap;

}
.skills-title{
  padding-top: 15px;
  padding-bottom: 5px;
}

ul{
  list-style-type: none;
}

.profile-img{
  margin-bottom:20px;
  margin-top:35px;
  height: 190px;
  width:190px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  box-shadow: 10px 10px 14px rgba(0,0,0,0.25);
}

.icon{
  height: 48px;
  padding-top:10px;
  padding-bottom:10px;
}

.right-section{
  
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Poppins', sans-serif;
}

.work{
  
  margin-top:30px;
  
}
.work-text{
  padding-top: 20px;
  padding-bottom: 20px;
}
.education{
  padding-top:40px;
}

.certification{
  margin-bottom: 25px;
}

.certification-icon{
  height: 30px;
}

.curriculum-title{
  border-top:1px solid gray;
  padding-top: 50px;
  margin-bottom: 20px;
  
}
footer{
  background-color: black;
  margin-top: 100px;
}
.footer-link-item{
  color:white;
  
}
@media screen and (min-width: 992px) {  /*desktop media query*/
  
  .left-section{
  padding-top:0px;
  position: sticky;
  top:40px;
  margin-right: 25px;
  height: 100%;
  
  
  }
  .skills-section{
  width: 90%;
  }
  .cv-container{
    padding-top:40px;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    align-items: start;
    flex-direction: row;
    
  }
  .right-section{
  padding-top:60px;
  }
  .curriculum-title{
    padding-top: 0px;
    border-top:none;
    border-bottom:1px solid gray;
    
  }
}